@keyframes loader {
  from {transform: rotate(0)}
  to {transform: rotate(360deg)}
}

.loader {
  @include flex-container($isFlexCenter: true);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  background-color: var(--background-color);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear,
              visibility 0.5s linear;

  &--active {
    visibility: visible;
    opacity: 1;

    .loader__img {
      animation-play-state: running;
    }
  }

  &__img {
    animation-name: loader;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
  }
}